.light{
    color:  black !important; 
    /* background-image: url('/public/pattern-randomized.svg'); */
}
.light .btx .highlight{
    color:rgb(255, 11, 11) !important;
    font-weight: bold
}
.dark{
    color:white !important;
    /* background-image: url('/src/assets/wallpapersden.com_starry-sky-hd-dark-blue-night_2912x1632.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.dark .btx{
    color:white !important;
}
.dark .btx .highlight{
    color:rgb(254, 225, 76) !important;
}


 .dark .coding{
  background-image: url("https://cdn.dribbble.com/users/2571505/screenshots/14197653/media/324034b1707825a543f520a98d30fdf2.gif");
  background-size: cover;
  height: 250px;
  width: 250px;
  background-position: center;
  border-radius: 100%;
  background-position-y: 15px;
  z-index: -1; 
 }
  